body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header-area {
    padding: 150px 100px;
    background-image: url(images/bannner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.header-area h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.header-area p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.donate-btn {
    text-align: center;
    margin-top: 60px;
}

.donate-btn a {
    text-decoration: none;
    color: white;
    background-color: rgb(235, 61, 61);
    text-align: center;
    padding: 20px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.donate-heading {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-top: 60px;
}

.donate-des {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    margin-bottom: 50px;
}

.donate-amount {
    display: flex;
    margin: 35px 300px;
}

.donate-item {
    width: 18%;
    background: gray;
    color: rgb(45, 40, 40);
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 25px;
    border-radius: 5px;
    text-transform: uppercase;
}

.special-color {
    color: rgb(235, 61, 61);
    border: 3px solid rgb(235, 61, 61);
    border-radius: 5px;
    background: rgb(238, 163, 163);
}

.other-amount {
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0 250px;
    margin-top: 50px;
}

.other-amount h5 {
    font-size: 15px;
    color: gray;
}

.plan {
    display: flex;
    margin: 0 120px;
    margin-bottom: 50px;
}

.plan-item {
    width: 30%;
    margin-left: 1%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 5px;
}

.plan-item h4 {
    color: black;
    font-size: 25px;

}

.green {
    background: rgb(215, 240, 215);
}

.red {
    background: rgb(234, 211, 206);
}

.tomato {
    background: rgb(241, 234, 200);
}


.contributation {
    display: flex;
    /* margin: 50px 130px; */
    margin-top: 120PX;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.con-data {
    width: 40%;
    margin-left: 2%;
    margin-right: 9%;
}

.con-des h2 {
    font-size: 50px;
}

.con-des p {
    font-size: 15px;
}


.con-data img {
    min-width: 100%;
    border-radius: 5%;
}

.con-btn {
    text-align: left;
    margin-top: 60px;
}

.con-btn a {
    text-decoration: none;
    color: white;
    background-color: rgb(235, 61, 61);
    text-align: center;
    padding: 20px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.subscribe-section {}

.sub-sec {
    display: flex;
    background: rgb(242, 230, 207);
    margin: 50px 250px;
    padding: 60px 80px;
    border-radius: 5px;
}

.input-area {
    width: 50%;
    text-align: right;
}

.input-area h3 {
    background: rgb(188, 178, 178);
    padding: 10px 10px;
    color: rgb(150, 140, 140);
    margin-left: 110px;
    text-align: left;
    border-radius: 2px;
    font-weight: 400;
}

.btn-area {
    width: 50%;
    text-align: left;
}

.btn-area h3 {
    background: rgb(233, 79, 79);
    padding: 10px 10px;
    color: rgb(150, 140, 140);
    text-align: center;
    margin-right: 110px;
    border-radius: 2px;
    color: white;
    font-weight: 400;
}

footer {
    text-align: center;
    background: rgb(7, 7, 12);
    padding: 50px 0;
}

footer h2 {
    color: rgb(219, 132, 132);
    font-family: cursive;
    font-weight: 800;
    font-size: 45px;
}

footer p {
    color: gray;
}